---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 6b53bf373d53d3e0e618b2a84dd2abda/2445535835472568252
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "New York City",
          "region": "New York",
          "country": "US",
          "loc": "40.7143,-74.0060",
          "postal": "10004",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Mon, 26 Oct 2020 20:46:19 GMT
recorded_with: VCR 6.0.0
